<div id="settings-page" class="settings">
    <div class="radio-container">
        <div class='radio-item' id="a">
            <div class='radio-name'>Showcase carousell speed</div>
            <div class=radio-button id="a1">
                <input type='radio' id='caro-slow' name='carousel' value='Slow'>
                <label for='carousel'>Slow</label>
            </div>
        </div>
        <div class='radio-item' id="b">            
            <div class='radio-name'>NFT Information</div>
            <div class=radio-button id="b1">
                <input type='radio' id='nft' name='nft' value='nft'>
                <label for='nft'>On</label>
            </div>
        </div>
        <div class='radio-item' id="c">
            <div class='radio-name'>QR Code</div>
            <div class=radio-button id="c1">
                <input type='radio' id='QR' name='QR' value='QR'>
                <label for='QR'>On</label>
            </div>
        </div>
    </div>
</div>
