body{
    width: 1920px;
    height: 1080px;
    background-image: url(../img/background.png);
}
#app-container{
    /* width: 100%;
    height: 100%; */
    position:relative;
}
.title{
    position: relative;
    top: 1em;
    height: 100%;
    left: 19%;
    font-size: 1.5em;
    color: white;
}